conditions:
  all: [{
    fact: 'device'
    operator: 'equal'
    value: true
    path: '.genisys.inSkype'
  }]
event:
  type: 'meshblu'
  params:
    operation: 'update'
    data:
      $set: 'genisys.activities.endSkype':
        title: 'End Skype'
        jobType: 'end-skype'
        meetingId: '{{msg.genisys.currentMeeting.meetingId}}'
        people: '{{msg.genisys.peopleInRoom}}'
