rules:
  addPeopleInRoom:
    conditions:
      all: [{
        fact: 'device'
        operator: 'equal'
        value: true
        path: '.genisys.inSkype'
      },{
        fact: 'device'
        path: '.genisys.currentMeeting'
        operator: 'exists'
        value: false
      }]
    event:
      type: 'meshblu'
      params:
        operation: 'update'
        uuid: '{{activities-device}}'
        data:
          $set: 'genisys.activities.endSkype':
            title: 'End Skype'
            jobType: 'end-skype'
            meetingId: '{{msg.genisys.currentMeeting.meetingId}}'
            people: '{{msg.genisys.peopleInRoom}}'
  addPeopleByAttendee:
    conditions:
      all: [{
        fact: 'device'
        operator: 'equal'
        value: true
        path: '.genisys.inSkype'
      },{
        fact: 'device'
        path: '.genisys.currentMeeting'
        operator: 'exists'
        value: true
      }]
    event:
      type: 'meshblu'
      params:
        operation: 'update'
        uuid: '{{activities-device}}'
        data:
          $set: 'genisys.activities.endSkype':
            title: 'End Skype'
            jobType: 'end-skype'
            meetingId: '{{msg.genisys.currentMeeting.meetingId}}'
            people: '{{msg.genisys.people.byAttendee.isAttendee}}'
noevents: [
  type: 'meshblu'
  params:
    operation: 'update'
    uuid: '{{activities-device}}'
    data:
      'genisys.activities.endSkype.people': []
]
