conditions:
  any: [{
    fact: 'device'
    path: '.genisys.currentMeeting'
    operator: 'exists'
    value: false
  },{
    fact: 'device'
    path: '.genisys.inSkype'
    operator: 'equal'
    value: true
  }]
event:
  type: 'meshblu'
  params:
    device: "{{msg.genisys.activitiesDeviceUuid}}"
    operation: 'update'
    data:
      $set:
        "genisys.activities.startSkype.people": []
