add:
  conditions:
    all: [{
      fact: 'device'
      path: '.genisys.currentMeeting'
      operator: 'exists'
      value: true
    },{
      fact: 'device'
      path: '.genisys.inSkype'
      operator: 'notEqual'
      value: true
    }]
  event:
    type: 'meshblu'
    params:
      device: "{{msg.genisys.activitiesDeviceUuid}}"
      operation: 'update'
      data:
        $set:
          "genisys.activities.startSkype":
            title: "Start Skype",
            jobType: "start-skype",
            meetingId: "{{msg.genisys.currentMeeting.meetingId}}",
            people: "{{msg.genisys.people.byAttendee.isAttendee}}"
remove:
  conditions:
    any: [{
      fact: 'device'
      path: '.genisys.currentMeeting'
      operator: 'exists'
      value: false
    },{
      fact: 'device'
      path: '.genisys.inSkype'
      operator: 'equal'
      value: true
    }]
  event:
    type: 'meshblu'
    params:
      device: "{{msg.genisys.activitiesDeviceUuid}}"
      operation: 'update'
      data:
        $set:
          "genisys.activities.startSkype.people": []
